
<form #editForm="ngForm" id="editForm" class="example-container">
<p>Please insert related tag about your article </p>

<tag-input [(ngModel)]='tagList' name="tagList" [modelAsStrings]="true" [maxItems]='5'></tag-input>
<br>
<mat-card class="example-card">
  <img mat-card-image src="{{photoUrl}}" alt="Photo of a Shiba Inu">
</mat-card>

<br>
<button class="button" mat-raised-button (click)="fileInput.click()">
  <i class="material-icons">add</i>
  <span>Select A Photo</span>
  <input #fileInput type="file" (change)="onFileSelected($event)" style="display:none;" />
</button>
<br>

<div class="row">
  &nbsp;&nbsp;&nbsp;
  <button aria-label="Show an example snack-bar" (click)="onSubmit()"  mat-raised-button>Post </button>

</div>


</form>
