
<div class="card" style="border: 0">
  <div class="row">
  <div class="col-8">
     <div class="card-body">
    <h5 href="#"  id="title"  class="card-title">{{note.title}}</h5>
    <!-- <p style="font-size:15px" class="card-text" id="content" [innerHTML]="note.text.slice(0,120)">...</p> -->
    <p class="card-text" id="content">{{note.description}}</p>
    <div class="d-flex">
        <span class="left">
          {{note.onModifiedUsername}}
        </span>
        <span class="right ml-auto">{{note.onModified | date:'mediumDate'}}</span>
    </div>

  </div>
  </div>
  <div class="col-4">
     <img class="card-img-top img-thumbnail" src="{{note.photos[0]?.photoUrl}}" alt="{{note?.title}}">
  </div>
</div>


</div>
