.example-card {
  max-width: 40%;
  text-align: center;
  margin: auto;
}

/* .center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;

} */

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
