button {
  margin: 5px;
}

#brand {
  font-weight: 800;
  font-size: 24px;
}

.dropdown {
  font-size: 14px;
}

.searchbar {

  margin-left: 87%;
  margin-right: 5%;

}

.circular {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: block;
  margin-top: 10%;
}

.dropdown-toggle::after {
  display: none;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 10px;
  font-size: 20px;
}
