

.note {
  margin-left: 15%;
  margin-right: 15%;
}

.example-card {
  margin-left: 15%;
  margin-right: 15%;

}

.example-header-image {
  background-image: url('http://www.iconninja.com/files/1024/108/58/users-human-avatar-people-male-account-person-user-man-profile-icon.png');
  background-size: cover;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.parent-element {
  display: flex;
  align-items: center;
}

/* .tag {
  position: absolute;
  right: 35%;
} */

.sharebuttons {
  position: absolute;
  right: 25%;
}

.tagbutton {
  margin-right: 8px;
}


.commentform {
  text-align: center;
}

.example-full-width {
  width: 80%;
  flex-direction: column;
}


