<div *ngFor="let tag of tagList" class="row" style="padding-bottom: 10px">
  <br>
  <br>
  <!-- Grid column -->
  <div class="col-lg-3">

    <!-- Featured image -->
      <img class="aaa" src="{{tag.note.mainPhotourl}}" alt="{{tag.note?.title}}"
        [routerLink]="['/note', tag.note.id]" routerLinkActive="active">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
  </div>
  <!-- Grid column -->
  
  <!-- Grid column -->
  <div class="col-lg-9">
    <br>
    <!-- Category -->
    <!-- <a href="#!" class="green-text">
      <h6 class="font-weight-bold mb-3"><mdb-icon fas icon="utensils" class="pr-2"></mdb-icon></h6>
    </a> -->
    <!-- Post title -->
    <h6 class="font-weight-bold mb-3"  [routerLink]="['/note', tag.note.id]" routerLinkActive="active"><strong>{{tag.note.title}}</strong></h6>
    <!-- font size is minimal -->
    <div style="font-size: 13px;">
       <p  [routerLink]="['/note', tag.note.id]" routerLinkActive="active">{{tag.note.description}}</p>

       <div class="d-flex justify-content-between">
          <div [routerLink]="['/notesbyuser', tag.note.userId]">
            {{tag.note.onModifiedUsername}}
          </div>
          <div>
              {{tag.note.onModified | date:'mediumDate'}}
          </div>
     </div>
    </div>

  </div>
  <!-- Grid column -->

</div>


<!-- <div *ngFor="let tag of tagList">
<div class="card" style="border: 0">
  <div class="row">
  <div class="col-12">
     <div class="card-body">
    <h5 href="#"  id="title"  class="card-title">{{tag.note.title}}</h5>
    <p class="card-text" id="content">{{tag.note.description}}</p>
    <div class="d-flex">
        <span class="left">
          {{tag.note.onModifiedUsername}}
        </span>
        <span class="right ml-auto">{{tag.note.onModified | date:'mediumDate'}}</span>
    </div>

  </div>
  </div>

</div>
</div>
</div> -->
