<app-category></app-category>

<div class="row">

  <div class="col-9" infinite-scroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="100"
  (scrolled)="onScroll()" >
<ul style="text-align: center">
  <li *ngFor="let note of notes" [routerLink]="['/note', note.id]" routerLinkActive="active">
   <app-note-card [note]="note"></app-note-card>
  </li>
</ul>
</div>
<div class="col-3">
  <p class="popularonblog">Popular on Blog</p>
  <hr>
    <ul style="text-align: center">
        <li *ngFor="let note of popularNotes" [routerLink]="['/note', note.id] | slice:0:4" routerLinkActive="active">
          <app-popular-notes [note]="note"></app-popular-notes>
        </li>
      </ul>
</div>
</div>


